[submodule "games/experimental-minetest-game"]
	path = games/experimental-minetest-game
	url = https://github.com/MolassesLover/experimental-minetest-game.git
[submodule "lib/irrlichtmt"]
	path = lib/irrlichtmt
	url = https://github.com/minetest/irrlicht.git
